In [ ]:
!pip install pymssql

Requirement already satisfied: pymssql in /usr/local/lib/python3.6/dist-packages (2.1.5)

In [ ]:
import pymssql

host = '210.115.229.77:2433'
user = 'M20041'
password = '20041@hallym'
database = user

In [ ]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor생성
cursor = conn.cursor()

## SQL문 작성
query = "SELECT * FROM student WHERE dept_name=%s"

## SQL문 실행
cursor.execute(query, 'Comp.Sci.')

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()
for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

('00128', 'Zhang', 'Comp.Sci.', 102) <class 'tuple'>
('12345', 'Shankar', 'Comp.Sci.', 32) <class 'tuple'>
('54321', 'Williams', 'Comp.Sci.', 54) <class 'tuple'>
('76543', 'Brown', 'Comp.Sci.', 58) <class 'tuple'>

In [ ]:
## 검색 할 학과명 입력
dept_name = input('dept_name: ')

## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor생성
cursor = conn.cursor()

## SQL문 작성
query = "SELECT * FROM student WHERE dept_name=%s"

## SQL문 실행
cursor.execute(query, dept_name)

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()
for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

dept_name: History
('19991', 'Brandt', 'History', 80) <class 'tuple'>
('19999', 'TESTINPUT', 'History', 120) <class 'tuple'>

In [ ]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor생성
cursor = conn.cursor()

## SQL문 작성 // id = char, name = varchar, dept_name = varchar, tot_cred = int
query = "INSERT INTO student VALUES (%s, %s, %s, %d)"

## SQL문 실행 // id, name, dept_name, tot_cred
cursor.executemany(query, [('00001', 'name1', 'Comp.Sci.', 16), 
                           ('00002', 'name2', 'History', 80), 
                           ('00003', 'name3', 'Biology', 104)])

## SQL 문 결과 적용하기
conn.commit()

## DB 접속 종료
conn.close()

In [ ]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor생성
cursor = conn.cursor()

## SQL문 작성
query = "SELECT * FROM student"

## SQL문 실행
cursor.execute(query)

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()
for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

('00128', 'Zhang', 'Comp.Sci.', 102) <class 'tuple'>
('12345', 'Shankar', 'Comp.Sci.', 32) <class 'tuple'>
('19991', 'Brandt', 'History', 80) <class 'tuple'>
('19999', 'TESTINPUT', 'History', 120) <class 'tuple'>
('23121', 'Chavez', 'Finance', 110) <class 'tuple'>
('44553', 'Peltier', 'Physics', 56) <class 'tuple'>
('45678', 'Levy', 'Physics', 46) <class 'tuple'>
('54321', 'Williams', 'Comp.Sci.', 54) <class 'tuple'>
('55739', 'Sanchez', 'Music', 38) <class 'tuple'>
('70557', 'Snow', 'Physics', 0) <class 'tuple'>
('76543', 'Brown', 'Comp.Sci.', 58) <class 'tuple'>
('76653', 'Aoi', 'Elec.Eng.', 60) <class 'tuple'>
('98765', 'Bourikas', 'Elec.Eng.', 98) <class 'tuple'>

In [ ]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor생성
cursor = conn.cursor()

## SQL문 작성
query = "DELETE FROM student WHERE id=%s"

## SQL문 실행
cursor.executemany(query, ['00001', '00002', '00003'])

## SQL 문 결과 적용
conn.commit()

## DB 접속 종료
conn.close()

In [ ]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor생성
cursor = conn.cursor()

## SQL문 작성
sproc = 'sp_helptext'

## SQL문 실행
row = cursor.callproc(sproc, ('sp_databases', ))

## SQL 문 결과 모두 가져오기
for row in cursor:
  print(row, type(row))

## DB 접속 종료
conn.close()

('\r\n',) <class 'tuple'>
('create procedure sys.sp_databases\r\n',) <class 'tuple'>
('as\r\n',) <class 'tuple'>
('    set nocount on\r\n',) <class 'tuple'>
('\r\n',) <class 'tuple'>
('    select\r\n',) <class 'tuple'>
('        DATABASE_NAME   = db_name(s_mf.database_id),\r\n',) <class 'tuple'>
('        DATABASE_SIZE   = convert(int,\r\n',) <class 'tuple'>
('                                    case -- more than 2TB(maxint) worth of pages (by 8K each) can not fit an int...\r\n',) <class 'tuple'>
('                                    when convert(bigint, sum(s_mf.size)) >= 268435456\r\n',) <class 'tuple'>
('                                    then null\r\n',) <class 'tuple'>
('                                    else sum(s_mf.size)*8 -- Convert from 8192 byte pages to Kb\r\n',) <class 'tuple'>
('                                    end),\r\n',) <class 'tuple'>
('        REMARKS         = convert(varchar(254),null)\r\n',) <class 'tuple'>
('    from\r\n',) <class 'tuple'>
('        sys.master_files s_mf\r\n',) <class 'tuple'>
('    where\r\n',) <class 'tuple'>
('        s_mf.state = 0 and -- ONLINE\r\n',) <class 'tuple'>
('        has_dbaccess(db_name(s_mf.database_id)) = 1 -- Only look at databases to which we have access\r\n',) <class 'tuple'>
('    group by s_mf.database_id\r\n',) <class 'tuple'>
('    order by 1\r\n',) <class 'tuple'>