In [1]:
!pip install pymssql

Collecting pymssql
  Downloading https://files.pythonhosted.org/packages/fe/aa/59c7c8a2cf1ef0726cd4c64bff7072147db8cbb6b4379fb0c3d7c67331b9/pymssql-2.1.5-cp36-cp36m-manylinux1_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 4.5MB/s
Installing collected packages: pymssql
Successfully installed pymssql-2.1.5

**과제 1** - 실습 자료에 등장하는 SQL 문 설명

> 1- 1
>
> query = "SELECT * FROM student WHERE dept_name=%s"
>
> cursor.execute(query, 'Comp.Sci.')
>
>     dept_name이 'Comp.Sci.'인 모든 튜플들을 가져오는데, 이때 dept_name에 올 데이터들의 형식은 문자열이다.

> 1- 2
>
> query = "INSERT INTO student VALUES (%s, %s, %s, %d)"
>
> cursor.executemany(query, [('00001', 'name1', 'Comp.Sci.', 16), ('00002', 'name2', 'History', 80), ('00003', 'name3', 'Biology', 104)])
>
>     executemany에서 쿼리문과 함께 들어온 튜플들을 student에 삽입한다. 이때 튜플들의 포맷 형식을 문자열, 문자열, 문자열, 정수로 지정해준 것이다.

> 1- 3
>
> query = "DELETE FROM student WHERE name=%s"
>
> cursor.executemany(query, ['name1', 'name2', 'name3'])
>
>     student 테이블로부터 name이 'name1', 'name2', 'name3'이라면 그 튜플을 삭제하는 문장이다. 이때 name의 종류로 들어오는 값들의 형식은 문자열이다.

> 1- 4
>
> sproc = "sp_help"
>
> row = cursor.callproc('sp_helptext', ('sp_databases', ))
>
>     cursor 객체의 callproc() 함수를 통해 저장 프로시져인 sp_help를 실행한다.

In [2]:
import pymssql

host = '210.115.229.77:2433'
user = '20195124'
password = 's195124@hallym'
database = user

**과제 2**

In [8]:
conn = pymssql.connect(host, user, password, database)

cursor = conn.cursor()

insert_query = "INSERT INTO student VALUES (%s, %s, %s, %d)"

id = input('id: ')
name = input('name: ')
dept_name = input('dept_name: ')
tot_cred = input('tot_cred: ')

cursor.execute(insert_query, (id, name, dept_name, tot_cred))

select_query = "SELECT * FROM student"

cursor.execute(select_query)

rows = cursor.fetchall()

for row in rows:
  print(row, type(row))

conn.close()

id: 19999
name: TESTINPUT
dept_name: History
tot_cred: 120
('00128', 'Zhang', 'Comp.Sci.', 102) <class 'tuple'>
('12345', 'Shankar', 'Comp.Sci.', 32) <class 'tuple'>
('19991', 'Brandt', 'History', 80) <class 'tuple'>
('19999', 'TESTINPUT', 'History', 120) <class 'tuple'>
('23121', 'Chavez', 'Finance', 110) <class 'tuple'>
('44553', 'Peltier', 'Physics', 56) <class 'tuple'>
('45678', 'Levy', 'Physics', 46) <class 'tuple'>
('54321', 'Williams', 'Comp.Sci.', 54) <class 'tuple'>
('55739', 'Sanchez', 'Music', 38) <class 'tuple'>
('70557', 'Snow', 'Physics', 0) <class 'tuple'>
('76543', 'Brown', 'Comp.Sci.', 58) <class 'tuple'>
('76653', 'Aoi', 'Elec.Eng.', 60) <class 'tuple'>
('98765', 'Bourikas', 'Elec.Eng.', 98) <class 'tuple'>