In [1]:
!pip install pymssql

Collecting pymssql
  Downloading https://files.pythonhosted.org/packages/fe/aa/59c7c8a2cf1ef0726cd4c64bff7072147db8cbb6b4379fb0c3d7c67331b9/pymssql-2.1.5-cp36-cp36m-manylinux1_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 7.7MB/s
Installing collected packages: pymssql
Successfully installed pymssql-2.1.5

In [6]:
#conn = pymssql.connect(host='210.115.229.77:2433', user='20195124', password='s195124@hallym', database='20195124')
import pymssql

host = '210.115.229.77:2433'
user = '20195124'
password = 's195124@hallym'
database = user

In [7]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
query = "SELECT * FROM student WHERE dept_name=%s"

## SQL 문 실행
cursor.execute(query, 'Comp.Sci.')

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()

for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

('00128', 'Zhang', 'Comp.Sci.', 102) <class 'tuple'>
('12345', 'Shankar', 'Comp.Sci.', 32) <class 'tuple'>
('54321', 'Williams', 'Comp.Sci.', 54) <class 'tuple'>
('76543', 'Brown', 'Comp.Sci.', 58) <class 'tuple'>

In [8]:
## 검색 할 학과명 입력
dept_name = input()

## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
## %s 문자열, %d 숫자
query = "SELECT * FROM student WHERE dept_name=%s"

## SQL 문 실행
cursor.execute(query, dept_name)

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()

for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

History
('19991', 'Brandt', 'History', 80) <class 'tuple'>

In [10]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
query = "INSERT INTO student VALUES (%s, %s, %s, %d)"

## SQL 문 실행 id, name, dept_name, tot_cred
cursor.executemany(query, [('00001', 'name1', 'Comp.Sci.', 16),
                          ('00002', 'name2', 'History', 80),
                          ('00003', 'name3', 'Biology', 104)])

## SQL 문 결과 적용
conn.commit()

## DB 접속 종료
conn.close()

In [11]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
query = "SELECT * FROM student"

## SQL 문 실행
cursor.execute(query, 'Comp.Sci.')

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()

for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

('00001', 'name1', 'Comp.Sci.', 16) <class 'tuple'>
('00002', 'name2', 'History', 80) <class 'tuple'>
('00003', 'name3', 'Biology', 104) <class 'tuple'>
('00128', 'Zhang', 'Comp.Sci.', 102) <class 'tuple'>
('12345', 'Shankar', 'Comp.Sci.', 32) <class 'tuple'>
('19991', 'Brandt', 'History', 80) <class 'tuple'>
('23121', 'Chavez', 'Finance', 110) <class 'tuple'>
('44553', 'Peltier', 'Physics', 56) <class 'tuple'>
('45678', 'Levy', 'Physics', 46) <class 'tuple'>
('54321', 'Williams', 'Comp.Sci.', 54) <class 'tuple'>
('55739', 'Sanchez', 'Music', 38) <class 'tuple'>
('70557', 'Snow', 'Physics', 0) <class 'tuple'>
('76543', 'Brown', 'Comp.Sci.', 58) <class 'tuple'>
('76653', 'Aoi', 'Elec.Eng.', 60) <class 'tuple'>
('98765', 'Bourikas', 'Elec.Eng.', 98) <class 'tuple'>

In [14]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
query = "DELETE FROM student WHERE id=%s"

## SQL 문 실행
cursor.executemany(query, ['00001', '00002', '00003'])

## SQL 문 결과 적용
conn.commit()

## DB 접속 종료
conn.close()

In [16]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
query = "SELECT * FROM student"

## SQL 문 실행
cursor.execute(query)

## SQL 문 결과 모두 가져오기
rows = cursor.fetchall()

for row in rows:
  print(row, type(row))

## DB 접속 종료
conn.close()

('00128', 'Zhang', 'Comp.Sci.', 102) <class 'tuple'>
('12345', 'Shankar', 'Comp.Sci.', 32) <class 'tuple'>
('19991', 'Brandt', 'History', 80) <class 'tuple'>
('23121', 'Chavez', 'Finance', 110) <class 'tuple'>
('44553', 'Peltier', 'Physics', 56) <class 'tuple'>
('45678', 'Levy', 'Physics', 46) <class 'tuple'>
('54321', 'Williams', 'Comp.Sci.', 54) <class 'tuple'>
('55739', 'Sanchez', 'Music', 38) <class 'tuple'>
('70557', 'Snow', 'Physics', 0) <class 'tuple'>
('76543', 'Brown', 'Comp.Sci.', 58) <class 'tuple'>
('76653', 'Aoi', 'Elec.Eng.', 60) <class 'tuple'>
('98765', 'Bourikas', 'Elec.Eng.', 98) <class 'tuple'>

In [18]:
## MSSQL 접속
conn = pymssql.connect(host, user, password, database)

## Connection으로 부터 Cursor 생성
cursor = conn.cursor()

## SQL 문 작성
## 변수 = 'sp_helptext <데이터베이스 개체 명>'
sproc = 'sp_helptext'

## SQL 문 실행
row = cursor.callproc(sproc, ('sp_databases', ))

## SQL 문 결과 모두 가져오기
for row in cursor:
  print(row, type(row))

## DB 접속 종료
conn.close()

('\r\n',) <class 'tuple'>
('create procedure sys.sp_databases\r\n',) <class 'tuple'>
('as\r\n',) <class 'tuple'>
('    set nocount on\r\n',) <class 'tuple'>
('\r\n',) <class 'tuple'>
('    select\r\n',) <class 'tuple'>
('        DATABASE_NAME   = db_name(s_mf.database_id),\r\n',) <class 'tuple'>
('        DATABASE_SIZE   = convert(int,\r\n',) <class 'tuple'>
('                                    case -- more than 2TB(maxint) worth of pages (by 8K each) can not fit an int...\r\n',) <class 'tuple'>
('                                    when convert(bigint, sum(s_mf.size)) >= 268435456\r\n',) <class 'tuple'>
('                                    then null\r\n',) <class 'tuple'>
('                                    else sum(s_mf.size)*8 -- Convert from 8192 byte pages to Kb\r\n',) <class 'tuple'>
('                                    end),\r\n',) <class 'tuple'>
('        REMARKS         = convert(varchar(254),null)\r\n',) <class 'tuple'>
('    from\r\n',) <class 'tuple'>
('        sys.master_files s_mf\r\n',) <class 'tuple'>
('    where\r\n',) <class 'tuple'>
('        s_mf.state = 0 and -- ONLINE\r\n',) <class 'tuple'>
('        has_dbaccess(db_name(s_mf.database_id)) = 1 -- Only look at databases to which we have access\r\n',) <class 'tuple'>
('    group by s_mf.database_id\r\n',) <class 'tuple'>
('    order by 1\r\n',) <class 'tuple'>